@viewport {
  width: extend-to-zoom;
  zoom: 1;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1;
}
body {
  min-height: 100px;
  min-width: 100px;
  margin: 0%;
}

h2 {
  font-size: 1.2em;
  color: #87c0f2;
  font-weight: 800;
  margin-top: 10%;
}

p {
  color: rgb(118, 118, 118);
  font-size: 0.8em;
  font-weight: 400;
}

.wrapper {
  font-family: Outfit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(images/cloudBg.png);
  background-size: 100%;
  min-height: 1000px;
}

.card {
  min-height: 100px;
  min-width: 50px;
  padding: 1.2em;
  margin: 15%;
  width: 15em;
  height: 30em;
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  text-align: center;
}

.qrcode {
  width: 100%;
  border-radius: 1em;
}

.text {
  padding: 0 0.8em;
}

.attribution {
  position: fixed;
  bottom: 0;
}
